.card {
  background-color: #fff;
  min-height: 100px;
  padding: 10px 0px 10px 18px;
  display: flex;
  align-items: center;
  border: 1px solid #eef8fd;
  border-radius: 2px;
  &__content {
    flex: 1;
    &-label {
      color: #787c90;
      font-weight: 100px;
      margin: 0;
    }
    &-value {
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }
}
